.dice {
    border: thin solid tomato;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media only screen and (max-width: 420px) {
    .dice {
        height: 3.5rem;
        width: 3.5rem;
        font-size: 1.4rem;
    }
}