.diceMain{
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 70vh;
    width: 70vw;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto; */

    display: grid;
    grid-template: auto auto/repeat(5,1fr);
    gap: 25px;
}

.btn{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 200px;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    border: thin solid tomato;
    border-top: none;
    cursor: pointer;
    color: tomato;
}